#======== File I/O ===============
InputFile                     : ~/7\@S7\@S\Works/work/workspace/TS/hall_monitor_CIF.yuv
InputBitDepth                 : 8           # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 50          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 352         # Input  frame width
SourceHeight                  : 288         # Input  frame height
FramesToBeEncoded             : 300         # Number of frames to be coded

Level                         : 3.1
